:root[data-theme='light'] {
  --primary-color: #eef0f2;
  --secondary-color: #c6c7c4;
  --tertiary-color: #a2999e;
  --highlight-color: #846a6a;
  --accent-color: #353b3c;
}

:root[data-theme='dark'] {
  --primary-color: #121212;
  --secondary-color: #463f3f;
  --tertiary-color: #404040;
  --highlight-color: #463937;
  --accent-color: #ececec;
}

:root[data-theme='olive'] {
  --primary-color: #dad7cd;
  --secondary-color: #a3b18a;
  --tertiary-color: #588157;
  --highlight-color: #3a5a40;
  --accent-color: #344e41;
}

:root[data-theme='purple-ish'] {
  --primary-color: #32213a;
  --secondary-color: #383b53;
  --tertiary-color: #66717e;
  --highlight-color: #d4d6b9;
  --accent-color: #d1caa1;
}

:root[data-theme='peach'] {
  --primary-color: #333232;
  --secondary-color: #f7b2ad;
  --tertiary-color: #ceb7b3;
  --highlight-color: #b7b7b7;
  --accent-color: #9abca7;
}

:root[data-theme='forest'] {
  --primary-color: #243e36;
  --secondary-color: #7ca982;
  --tertiary-color: #e0eec6;
  --highlight-color: #f1f7ed;
  --accent-color: #c2a83e;
}

:root[data-theme='all-white'] {}

:root[data-theme='android'] {
  --primary-color: #f61067;
  --secondary-color: #5e239d;
  --tertiary-color: #00f0b5;
  --highlight-color: #f4f4ed;
  --accent-color: #6decaf;
}

:root[data-theme='goldsky'] {
  --primary-color: #f0a202;
  --secondary-color: #f18805;
  --tertiary-color: #d95d39;
  --highlight-color: #0e1428;
  --accent-color: #7b9e89;
}

:root[data-theme='pastel'] {
  --primary-color: #83b692;
  --secondary-color: #f9ada0;
  --tertiary-color: #f9627d;
  --highlight-color: #c65b7c;
  --accent-color: #5b3758;
}

:root[data-theme='tuxedo'] {
  --primary-color: #0c120c;
  --secondary-color: #c20114;
  --tertiary-color: #6d7275;
  --highlight-color: #c7d6d5;
  --accent-color: #ecebf3;
}

:root[data-theme='goldblue'] {
  --primary-color: #363636;
  --secondary-color: #242f40;
  --tertiary-color: #cca43b;
  --highlight-color: #e5e5e5;
  --accent-color: #ffffff;
}

:root[data-theme='polaroid'] {
  --primary-color: #df2935;
  --secondary-color: #86ba90;
  --tertiary-color: #f5f3bb;
  --highlight-color: #dfa06e;
  --accent-color: #412722;
}

:root[data-theme='hacker'] {
  --primary-color: #34403a;
  --secondary-color: #285238;
  --tertiary-color: #138a36;
  --highlight-color: #04e824;
  --accent-color: #18ff6d;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--primary-color);
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
  color: var(--primary-color);
}

:root[data-theme='dark'] p {
  color: #cac3c3;
}

:root[data-theme='pastel'] p {
  color: #5b3758;
}

:root[data-theme='goldsky'] p {
  color: #0e1428;
}

::selection {
  color: var(--primary-color);
  background: var(--primary-color);
  border-radius: 10px;
}

.px-10 {
  padding: 0 10px;
}

.py-10 {
  padding: 10px 0;
}

.navbar {
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: show;
  background: var(--highlight-color);
}

.navbar>.container {
  height: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:root[data-theme='dark'] .navbar h2 {
  color: #eef0f2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--secondary-color, black);
}

.hero {
  height: 400px;
  background: var(--accent-color);
}

.hero>.container {
  max-width: 768px;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 18px;
  border: 0;
  border-radius: 4px;
  background: var(--secondary-color);
  color: var(--highlight-color);
}

:root[data-theme='dark'] .btn {
  color: #eef0f2;
}

.btn:hover {
  background: var(--tertiary-color);
  color: var(--primary-color);
}


.main {
  padding: 50px 10px;
  text-align: center;
}

.content {
  max-width: 768px;
  margin: auto;
  padding: 0 100px;
  color: var(--tertiary-color);
}

.content>p {
  padding-bottom: 48px;
}

.img {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 10px;
  border-radius: 100%;
}

.footer {
  height: 100px;
  width: 100%;
  position: relative;
  background: var(--secondary-color);
  color: var(--highlight-color);
}

.footer>.container {
  max-width: 1080px;
  height: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}